.custom-shape-divider-top-1776366482 {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1776366482 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 80px;
}

@media (min-width: 768px) {
    .custom-shape-divider-top-1776366482 svg {
        height: 120px;
    }
}

.custom-shape-divider-top-1776366482 .shape-fill {
    fill: var(--surface-alt);
}