@import "tailwindcss";
:root{
  --font-size: 16px;
  --line-height: 1.5;
  --main: #125EF2;
  --second: #000099;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--font-size);
  line-height: var(--line-height);
      --tw-tracking: var(--tracking-widest) /* 0.1em */;
    letter-spacing: var(--tracking-widest) /* 0.1em */;
}
.root{
  overflow: hidden;
}
@property --tw-tracking {
    syntax: "*";
    inherits: false;
}

a {
  text-decoration: none;
}
.main {
  background-color: var(--main);
}
.second{
  background-color: var(--second);
}
.mainC{
  color: var(--main);
}
.secondC{
  color: var(--second);
}
html {
  scrollbar-gutter: stable;
}

body {
  scrollbar-gutter: stable;
}
@layer base {
  html {
    scrollbar-gutter: stable;
  }
}
header {
  padding-right: 0;           /* أو padding-left حسب RTL */
  transition: padding 0.2s;
}

html:has(body::-webkit-scrollbar) header,
body:has(::-webkit-scrollbar) header {
  padding-right: 17px;   /* أو padding-left في RTL */
}
body {
  overflow-y: scroll;   /* يخلي الـ scrollbar ظاهر دايمًا */
}
header {
  padding-right: var(--removed-body-scroll-bar-size, 0px);
}